<nav class="navbar fixed-bottom navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ChitChat</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <button (click)="login()" *ngIf="!name" class="btn btn-outline-success" type="button">Login to Chat</button>
      <button (click)="logout()" *ngIf="name" class="btn btn-outline-danger" type="button">Log Out</button>

    </form>

    <form class="form-inline my-2 my-lg-0" *ngIf="name">
      <input class="form-control mr-sm-2" type="text" placeholder="Your Message" id="message" (keyup.enter)="chatSend($event.target.value)" name="msgVal" [(ngModel)]="msgVal">

    </form>

  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">

        <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of items | async">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.name}}</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">{{item.message}}</p>
          <small>Donec id elit non mi porta.</small>
        </div>

      </div>
    </div>
  </div>
</div>